<td></td>
<td>{{formatDate date 'D MMM. YYYY'}}</td>
<td>{{category.name}}</td>
<td>{{title}}</td>
<td>{{amount}}</td>
<td>{{currency.name}}</td>
<td class="actions">
  <a class="btn btn-default edit-transaction" href="#" role="button" title="Редагувати запис">
    <span class="glyphicon glyphicon-pencil"></span>
  </a>
  <a class="btn btn-default delete-transaction" href="#" role="button" title="Видалити запис">
    <span class="glyphicon glyphicon-trash"></span>
  </a>
</td>